<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <servlet>
    <description></description>
    <display-name>ServletController</display-name>
    <servlet-name>ServletController</servlet-name>
    <servlet-class>mvc2.ServletController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletController</servlet-name>
    <url-pattern>/ServletController</url-pattern>
  </servlet-mapping>
  <display-name>PartieI</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>SignupServlet</display-name>
    <servlet-name>SignupServlet</servlet-name>
    <servlet-class>mvc2.SignupServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignupServlet</servlet-name>
    <url-pattern>/SignupServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>mvc2.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreerAnomalieServlet</display-name>
    <servlet-name>CreerAnomalieServlet</servlet-name>
    <servlet-class>mvc2.CreerAnomalieServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreerAnomalieServlet</servlet-name>
    <url-pattern>/CreerAnomalieServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DashboardServlet</display-name>
    <servlet-name>DashboardServlet</servlet-name>
    <servlet-class>mvc2.DashboardServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DashboardServlet</servlet-name>
    <url-pattern>/DashboardServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ModifierAnomalieServlet</display-name>
    <servlet-name>ModifierAnomalieServlet</servlet-name>
    <servlet-class>mvc2.ModifierAnomalieServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModifierAnomalieServlet</servlet-name>
    <url-pattern>/ModifierAnomalieServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SupprimerAnomalieServlet</display-name>
    <servlet-name>SupprimerAnomalieServlet</servlet-name>
    <servlet-class>mvc2.SupprimerAnomalieServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SupprimerAnomalieServlet</servlet-name>
    <url-pattern>/SupprimerAnomalieServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ValiderAnomaliesServlet</display-name>
    <servlet-name>ValiderAnomaliesServlet</servlet-name>
    <servlet-class>mvc2.ValiderAnomaliesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ValiderAnomaliesServlet</servlet-name>
    <url-pattern>/ValiderAnomaliesServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>mvc2.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
</web-app>